body {
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    color: #4387f4;
}

h2 {
    color: #ea4334;
    text-align: center;
}

h3 {
    color: #fbbd04;
    text-align: center;
}

p {
    color: #34a853;
    text-align: center;
}